.favicon-container
  margin: 10px
  div
    display: inline-block
    width: 300px
    font-size: 14px
    line-height: 20px
  img
    height: 20px
    vertical-align: middle
    display: inline-block
